Adafruit-Blinka==8.52.0
adafruit-circuitpython-ads1x15==2.4.2
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-connectionmanager==3.1.3
adafruit-circuitpython-requests==4.1.9
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.77.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.9.0
bluedot==2.0.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dbus-python==1.3.2
Flask==3.0.3
gunicorn==23.0.0
idna==3.10
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
narwhals==1.24.1
nest_asyncio==1.6.0
numpy==2.2.2
packaging==24.2
pandas==2.2.3
plotly==6.0.0
pyftdi==0.56.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.1
pyusb==1.3.1
requests==2.32.3
retrying==1.3.4
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
six==1.17.0
sysv-ipc==1.1.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
Werkzeug==3.0.6
zipp==3.21.0
